$tTime: 0.6s;

.Card {
  width: 300px;
  height: 300px;
  position: relative;
  overflow: hidden;
  color: white;
  border-radius: 16px;
  transition: $tTime ease-in-out;
  text-decoration: none;

  h3 {
    font-size: 24px;
    margin: 12px 0px 0px 12px;
    opacity: 0;
    transition: $tTime ease-in-out;
    transition-delay: 0.2s;
    transform: translateY(20px);
  }

  img {
    // width: 200px;
    // height: 400px;
    position: relative;
    top: 0;
    width: 100%;
    z-index: -1;
    transition: $tTime ease-in-out;
  }

  button {
    font-size: 20px;
    margin: 10px 0 0 20px;
    opacity: 0.4;
    transition: $tTime ease-in-out;
    transition-delay: 0.2s;
    transform: translateY(20px);
  }

  &:hover {
    height: 400px;
    box-shadow: 10px 20px 40px rgba(#272833,0.5);

    img {
      transform: scale(1.1);
    }

    h3 {
      opacity: 1;
      transform: translateY(0px);
    }

    @media (max-width:980px) {
    box-shadow: none;
    }
  }

  &:active {
    @media (min-width:980px) {
    transform: translateY(10px);
    box-shadow: 4px 8px 12px rgba(#272833,0.6), 2px 2px 4px rgba(#272833,0.8);
    }
  }
}
