/* html, body, div, span,object,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,cite,code,del,dfn,em,img,ins,kbd,q,samp,
table {display: block;}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {display: none;}
code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
blockquote, q {quotes: &#8220 &#8220;}
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}
mark {
  background-color: #a7f4f6;
  color: #555;
}
del {text-decoration: line-through;}
abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
*,*:before,*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
    font-size: 62.5%;
    -webkit-font-smoothing: antialiased;
}
body {
  background: #fff;
  font-family: "opensans-regular", sans-serif;
  font-weight: normal;
  font-size: 15px;
  line-height: 30px;
  color: #838c95;
  -webkit-font-smoothing: antialiased; 
  -webkit-text-size-adjust: 100%;
}
h1,h2,h3,h4,h5,h6 {
  color: #313131;
  font-family: "opensans-bold", sans-serif;
  font-weight: normal;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {font-weight: inherit;}
h1 {
  font-size: 38px;
  line-height: 42px;
  margin-bottom: 12px;
  letter-spacing: -1px;
}
h2 {
  font-size: 28px;
  line-height: 36px;
  margin-bottom: 6px;
}
h3 {
  font-size: 22px;
  line-height: 30px;
  margin-bottom: 12px;
}
h4 {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 6px;
}
h5 {
  font-size: 18px;
  line-height: 30px;
}
h6 {
  font-size: 14px;
  line-height: 30px;
}
p {margin: 0 0 30px 0;}
p img {margin: 0;}
p.lead {
  font: 19px/36px "opensans-light", sans-serif;
  margin-bottom: 18px;
} */