  .ads-c-navbar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 3rem;
    background: linear-gradient(to right, #e79e85, #f2e9d0);
    color: #fff;
    font-size: 1rem;
    line-height: 1.5;
    box-sizing: border-box;
    padding: 0 6rem;
    white-space: nowrap;
  }
  
  .ads-c-navbar__navbar-brand {
    display: flex;
    align-items: center;
    margin-right: 84px
  }
  
  .ads-c-navbar__navbar-brand-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
  }
  
  .ads-c-navbar__brand-logo {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.75rem;
  }
  
  .ads-c-navbar__navbar-menu-items {  
    display: flex;
    list-style-type: none;
    margin-left: 0px;
    padding-left: 0;
  }
  
  .ads-c-navbar__navbar-menu-item {
    color: #fff;
    padding: 0.75rem 1rem;
    display: flex;
    justify-content: flex-start;
    line-height: 1.5;
  }
  
  .ads-c-navbar__navbar-menu-item:hover {
    background-color: rgba(255, 255, 255, 0.25);
  }
  
  
  
  .ads-c-navbar__navbar-actions {
    color: #fff;
    display: flex;
    align-items: center;
    margin-left: auto;
  }
  
  .ads-c-navbar__navbar-actions-item {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    width: 3rem;
  }

  .material-icons {
      color: #fff;
  }
  
  .polyfill {
    fill: #fff;
  }
  
  .polyfill-opaque {
    fill: #fff;
    opacity: 0.5;
  }
  .test-body {
    margin-top: 80px;
    padding: 3rem 6rem;
  }
  